---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Navbar from '../components/Navbar.astro'

---

<Layout title="Ferchu Dev">
    <main class="relative flex justify-center w-full md:w-1/2 h-max pt-20 px-5 bg-[rgba(0_0_0_/_.2)]">
        <Navbar />
        <Header />
        {msj}
    </main>
</Layout>
