---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import { Navbar } from "../components/Navbar.jsx";
import Projects from "../components/Projects.astro";
import Skills from "../components/Skills.astro";
import { Contactame } from "../components/Contactame.jsx";
import Footer from "../components/Footer.astro";
import { ToastContainer } from "react-toastify";
import 'react-toastify/dist/ReactToastify.css';
---

<Layout title="Ferchu Dev" description="Porfolio de Fernando M. Pessoa">
	<Navbar client:only="preact" />
	<Header />
	<main
		class="w-full h-max flex py-10 flex-col items-center dark:bg-[linear-gradient(to_bottom,var(--black),var(--dark-color))]">
		<Projects />
		<Skills />
		<Contactame client:only="react" />
	</main>
	<Footer />
	<ToastContainer client:only="react" />
</Layout>

<style>
	@keyframes move-hand-wave {
		0% {
			transform: translateX(100px);
		}

		100% {
			transform: translateX(10px);
		}
	}

	@keyframes move-arrow-down {
		0% {
			transform: rotate(90deg), translateY(-50px);
		}

		100% {
			transform: rotate(90deg), translateY(0px);
		}
	}

	@keyframes animate-side-theme {
		0% {
			transform: scale(0.9);
		}

		100% {
			transform: scale(1);
		}
	}
</style>
