<a class="btn-grad rounded-lg  md:absolute right-0" href="/CV.pdf" download>
	Descargar CV
</a>
<style>
	.btn-grad {
		background-image: linear-gradient(to right, #1A2980 0%, #26D0CE 51%, #1A2980 100%);
		padding: 12px 30px;
		text-align: center;
		text-transform: uppercase;
		transition: 0.5s;
		background-size: 200% auto;
		color: white;
		border-radius: 10px;
		display: block;
	}

	.btn-grad:hover {
		background-position: right center;
		/* change the direction of the change here */
		color: #fff;
		text-decoration: none;
	}
</style>
