---
import DeployIcon from "./icons/DeployIcon.astro";
interface props {
    hrefUrl: string;
}

const { hrefUrl } = Astro.props;
---

<a
    class="flex gap-3 rounded-xl px-4 py-1 bg-[rgba(255_255_255_/_.1)] w-max h-max"
    target="_blank"
    href={hrefUrl}
>
    <DeployIcon class="size-7" />
    <p>Deploy</p>
</a>
