---
import Love from "./icons/love.astro";
---

<footer class="dark:bg-[var(--dark-color)] w-full flex justify-center gap-3">
	<p class="text-black dark:text-white flex gap-2 justify-center items-center">
		<span>Hecho con</span>
		<span class="">
			<i class="fa-solid text-red-400 fa-heart text-2xl"></i>
		</span>
		<span>por Fernando M. Pessoa</span>
	</p>
</footer>
