---
import Love from "./icons/love.astro";
---

<footer class="dark:bg-[var(--dark-color)] w-full flex justify-center gap-3">
    <p
        class="text-black dark:text-white flex gap-4 justify-center items-center"
    >
        Hecho con amor por Fernando M. Pessoa
    </p>
</footer>
