<nav class="flex justify-center items-center fixed top-10">
    <ul class="flex justify-center items-center gap-1">
        <li><a class="px-5 py-2 hover:bg-[rgba(255_255_255_/_.1)] rounded-full" href="#">Inicio</a></li>
        <li><a class="px-5 py-2 hover:bg-[rgba(255_255_255_/_.1)] rounded-full" href="#">Proyectos</a></li>
        <li><a class="px-5 py-2 hover:bg-[rgba(255_255_255_/_.1)] rounded-full" href="#">Skills</a></li>
        <li><a class="px-5 py-2 hover:bg-[rgba(255_255_255_/_.1)] rounded-full" href="#">Contactame</a></li>
    </ul>
</nav>
