<h1 class="text-lg sm:text-2xl md:text-3xl lg:text-4xl flex flex-col">
	<span class="dark:text-white text-black font-bold font-firaCode">&#60; Fernando
		Pessoa /&#62;
	</span>
	<span class="font-extrabold font-firaCode">Software
		Developer
	</span>
</h1>

<style>
	h1 span:last-child {
		background: linear-gradient(to right, #a02c59 0%, #c83873 10%, #3d51aa 20%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
</style>
