<a href="https://github.com/Ferchupessoadev"
	class="link-item-github transition-transform duration-300 ease-in hover:scale-125 dark:hover:scale-125"
	target="_blank">
	<img src="/github.svg" class="w-12" alt="github de programador">
</a>
