<a href="https://github.com/Ferchupessoadev"
	class="link-item-github hover:drop-shadow-[0px_0px_20px_#000] dark:hover:drop-shadow-[0px_0px_20px_#000]"
	target="_blank">
	<img src="/github.svg" class="w-12" alt="github de programador">
</a>
