<a href="https://linkedin.com/Ferchupessoadev"
	class="hover:scale-125 transition-transform duration-300 ease-in dark:hover:scale-125" target="_blank">
	<img src="/linkedin.svg" class="w-12" alt="linkedin de programador">
</a>
