<a href="https://linkedin.com/Ferchupessoadev"
	class="hover:drop-shadow-[0px_0px_20px_#00f] dark:hover:drop-shadow-[0px_0px_20px_#00f]" target="_blank">
	<img src="/linkedin.svg" class="w-12" alt="linkedin de programador">
</a>
