<a href="https://twitter.com/ferchupessoa"
	class="hover:drop-shadow-[0px_0px_20px_#0303fb] dark:hover:drop-shadow-[0px_0px_20px_#0303fb]" target="_blank">
	<img src="/twitter.svg" class="w-12" alt="twitter de programador">
</a>
