<a href="https://twitter.com/ferchupessoa"
	class="hover:scale-125 dark:hover:scale-125 transition-transform duration-300 ease-in" target="_blank">
	<img src="/twitter.svg" class="w-12" alt="twitter de programador">
</a>
