---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
		<!-- Font awesome -->
		<script
			src="https://kit.fontawesome.com/f845b9182b.js"
			crossorigin="anonymous"></script>
	</head>

	<body class="flex flex-col items-center">
		<slot />
	</body>

	<style is:global>
		:root {
			--black-dark: #222831;
			--black-slate: #131313;
			--primary: #76abae;
			--white: #e6ffff;
			--whiteblue: #e0ffff;
			--black: #0c1327;
			--dark-color: #141c31;
			--body-dark: #141c31;
			--body-black: #0c1327;
		}

		body {
			min-height: 100vh;
			scroll-behavior: smooth;
		}

		html {
			scroll-behavior: smooth;
		}

		/* import Font Fira Code */
		@font-face {
			font-family: FiraCode;
			src: url("/fonts/firacode/FiraCode.ttf") format("truetype");
		}

		html {
			font-family: "FiraCode";
			color: #fff;
		}
	</style>
</html>
